<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/TAS/static/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/TAS/static/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <!--<link href="/TAS/static/bootstrap-3.3.5-dist/css/jumbotron-narrow.css" rel="stylesheet">-->

    <title></title>
</head>
<body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active" onclick="alert('Hello world!')"><a href="#">About</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Tango Assistant Server</h3>
      </div>

      <div class="jumbotron">
        <h1>Welcome to TAS %username%</h1>
        <p class="lead">I don't know what to write here, but obviously I have to write something, otherwise the page will seem incomplete.</p>
            <div class="btn-group">
                <p><a class="btn btn-lg btn-primary btn-block" href="name_resolver" role="button">Server Name Resolver</a></p>
                <p><a class="btn btn-lg btn-primary btn-block" href="gse_search" role="button">Graphite Search Engine</a></p>
            </div>
      </div>


    </div> <!-- /container -->


</body>
</html>