<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="/static/bootstrap-3.3.5-dist/css/dashboard.css" rel="stylesheet">-->
    <link href="/static/bootstrap-3.3.5-dist/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="/static/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <title></title>
</head>
<body>

    <div class="container">

        <div class="header clearfix">
            <nav>
              <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="#">About</a></li>
              </ul>
            </nav>
            <h3 class="text-muted">Graphite Metrics</h3>
        </div>

        <br>

        <form class="form-signin" method="get" action="result">
            <!--<h2 class="form-signin-heading">Please sign in</h2>-->
            <!--<label for="inputEmail" class="sr-only">Email address</label>-->

            <!--value="{{ params|join(' ') }} - to protect data in form after submit-->
            <input id="queryParametersID" name="queryParameters" value="{{ params|join(' ') }}" class="form-control" placeholder="Input query parameters..." required autofocus>
            <br>
            <!--<button class="btn btn-lg btn-primary btn-block" type="submit">Push</button>-->
            <button class="btn btn-primary" type="submit">Push</button>
        </form>

        <br>

        {% block content %}{% endblock %}

    </div>

</body>
</html>