{% extends "index_main.html" %}
{% block content %}

<!--<h2 class="sub-header">Results:</h2>-->
<div class="table-responsive">

    <form class="form-signin" method="get" action="scripted_dashboard">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>№</th>
                    <th>Graphite Metric:</th>
                </tr>
            </thead>

            <tbody>
                {% for metric in metrics|sort %}
                <tr>
                    <td><input type="radio" name="metricRadio" value="{{ metric|e }}"> </td>
                    <td>{{ loop.index }}</td>
                    <td>{{ metric|e }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <button class="btn btn-success" type="submit">Push to Grafana</button>

    </form>

</div>

{% endblock %}
