<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/TAS/static/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/TAS/static/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <!--<link href="/static/bootstrap-3.3.5-dist/css/jumbotron-narrow.css" rel="stylesheet">-->

    <title></title>
</head>
<body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="index">Home</a></li>
            <li role="presentation" class="active" onclick="alert('Hello world!')"><a href="#">About</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Pager Duty Report Generator</h3>
      </div>

        <br>

        <form class="form-signin" method="get" action="pd_report_generator">

            <div class="row">
                <div class="col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Time since:</span>
                        <input id="time_since" name="form_time_since" value="{{ form_time_since_to_tmpl }}" class="form-control" placeholder="example: 2015-08-17 09:55:30" required autofocus aria-describedby="basic-addon1">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2">Time until:</span>
                        <input id="time_until" name="form_time_until" value="{{ form_time_until_to_tmpl }}" class="form-control" placeholder="example: 2015-08-17 09:55:30" required autofocus  aria-describedby="basic-addon2">
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">Timezone:</span>
                        <select class="form-control" id="tz_id" name="form_timezone">
                            <option {% if form_timezon_to_tmpl=="UTC"%} selected {% endif %} value="UTC">UTC (+0)</option>
                            <option {% if form_timezon_to_tmpl=="US/Pacific"%} selected {% endif %} value="US/Pacific">PDT (-7)</option>
                            <option {% if form_timezon_to_tmpl=="Europe/Moscow"%} selected {% endif %} value="Europe/Moscow">MSK (+3)</option>
                        </select>
                    </div>
                </div>

            </div>





            <br>
            <button class="btn btn-primary" type="submit">Get report</button>
        </form>

        <br>


        {% for pd_report_line in report_list_to_tmpl %}
            <br>
            {{ pd_report_line|e }}
        {% endfor %}


    </div> <!-- /container -->


</body>
</html>